<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>The Cinema's comeback</h2>
            <p>The world of film is, <span class="word_prefix">undoubtedly</span>, one of the most exciting, intriguing, and innovative in the world of entertainment. Every year, new directors, actors, and films seek to come up with ingenious narratives
                that captivate audiences, so that their <span class="word_prefix">incredible</span> stories endure and, hopefully, become part of pop culture over time. It is not only the characters and the team behind the screen that make cinema evolve
                and become <span class="word_prefix">irreplaceable</span> (if so, the experience would be <span class="word_prefix">incomplete</span>) but also the fans and their loyalty to the different universes that can be captured in audiovisual works.
                Therefore, we believe that, just as films are part of our culture, it is our duty to give back with affection and admiration the work of all those people who make it possible to bring the best of their ingenuity to the big screen.
            </p>
            <br>
            <p>So, dear reader, we invite you to take the following trivia quiz on some of the most memorable works in the history of cinema, and if you don't manage to answer everything, don't worry, it is <span class="word_prefix">irrelevant</span>, our
                mission is to entertain you and encourage your passion for the seventh art.
            </p>
        </div>
    </div>
</div>