<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="post mt-4">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="../../assets/img/un.jpg" alt=""></div>
                        <p class="username">Humans Of UNAL</p>
                    </div>
                    <img src="../../assets/img/option.PNG" class="options" alt="">
                </div>
                <p-image src="../../assets/img/forky.png" alt="Image" width="538" height="508"></p-image>
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img src="../../assets/img/like.PNG" class="icon" alt="">
                        <img src="../../assets/img/comment.PNG" class="icon" alt="">
                        <img src="../../assets/img/send.PNG" class="icon" alt="">
                        <img src="../../assets/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes">1,012 likes</p>
                    <p class="description"><span> Humans of UNAL </span> In 2019 I was <span class="word_prefix">determined</span>to do a big change in my life, that was one of my big purposes on new year’s eve. Since the middle of the year, my mom started proposing the idea
                        of having an adopted dog and giving it a family. She has always got a <span class="word_prefix">heart of gold.</span> <br> In August my mom received a call from one of her best friends, a woman named Martha who I didn't like because
                        of her <span class="word_prefix">annoying</span> personality and her bad treatment of people. Martha told my mom that she had adopted a dog from the street but she couldn't have it anymore, because she didn't have more space in
                        her house. Its name was Forky because of her children, who had recently seen Toy story 4 and decided to name the dog as one of the movie’s characters. <br> Forky moved to my house two days after the call (on August 19th), and that
                        day is still the best moment that I remember so far. At the beginning, Forky was such an <span class="word_prefix">introverted</span> dog. He was scared all the time, maybe because of his past life on the streets, but as the time
                        passed, it entered in confidence with us, and now it is the most <span class="word_prefix">loyal</span>and <span class="word_prefix">affectionate</span>dog. I have learned from Forky’s story that beautiful experiences and moments
                        sometimes come from who you do not expect.</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
            </div>
            <div class="post mb-4">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="../../assets/img/un.jpg" alt=""></div>
                        <p class="username">Humans Of UNAL</p>
                    </div>
                    <img src="../../assets/img/option.PNG" class="options" alt="">
                </div>
                <p-image src="../../assets/img/essay.jpg" alt="Image" width="538" height="508"></p-image>
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img src="../../assets/img/like.PNG" class="icon" alt="">
                        <img src="../../assets/img/comment.PNG" class="icon" alt="">
                        <img src="../../assets/img/send.PNG" class="icon" alt="">
                        <img src="../../assets/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes">874 likes</p>
                    <p class="description"><span> Humans of UNAL </span> In 2019 I was <span class="word_prefix">determined</span>to do a big change in my life, that was one of my big purposes on new year’s eve. Since the middle of the year, my mom started proposing the idea
                        of having an adopted dog and giving it a family. She has always got a <span class="word_prefix">heart of gold</span>. In August my mom received a call from one of her best friends, a woman named Martha who I didn't like because
                        of her <span class="word_prefix">annoying</span> personality and her bad treatment of people. Martha told my mom that she had adopted a dog from the street but she couldn't have it anymore, because she didn't have more space in
                        her house. Its name was Forky because of her children, who had recently seen Toy story 4 and decided to name the dog as one of the movie’s characters. Forky moved to my house two days after the call (on August 19th), and that day
                        is still the best moment that I remember so far. At the beginning, Forky was such an <span class="word_prefix">introverted</span> dog. He was scared all the time, maybe because of his past life on the streets, but as the time passed,
                        it entered in confidence with us, and now it is the most <span class="word_prefix">loyal</span> and <span class="word_prefix">affectionate</span> dog. I have learned from Forky’s story that beautiful experiences and moments sometimes
                        come from who you do not expect.</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
            </div>
        </div>
    </div>
</div>