<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="text-center">
                <h2>What I’m really thinking about being a public university student</h2>
                <hr/>
                <div class="howto mt-4 mb-4">
                    <img class="whatImage" src="../../assets/img/un.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <p>
                        Being a public university student is kind of <span class="word_red">challenging</span>. First, you have to present an exam to be admitted, and sometimes it makes you <span class="word_red">go blank</span> with several hard questions.
                        And the real matter it’s not just to approve it, but obtaining a certain mark <span class="word_red">so that</span> you can enter to your desired degree. <span class="word_red">Therefore</span>, if you want to be part of the university,
                        you need to demonstrate that you're capable of doing it, and, even more, being able to get good marks and maintain your place there. <br/> <span class="word_red">On the other hand</span>, even if you've made your best effort to
                        enter university, you’ll have to face all the institutional issues such as economic deficit, infrastructure problems and student strikes along your stancy here. <span class="word_red">Furthermore</span>, we as public university
                        students are thought to be troublesome and rebels, and that’s why people, who have never been in contact with public education, <span class="word_red">look down on us</span> and tend to be rude when we express our opinion about
                        these topics. <br/> <span class="word_red">Nonetheless</span>, professionals of this university are the ones who oftenly get the best <span class="word_red">jobs</span> when they <span class="word_red">apply for</span> big companies.
                        And that’s <span class="word_red">due to the fact that</span> the academic level is very high and most of the subjects in pensums are really <span class="word_red">demanding, as well as</span> professors are highly <span class="word_red">qualified</span>                        and always try to give their best for students, <span class="word_red">motivating</span> them to be successful in their own <span class="word_red">career ladders</span>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>