<!-- Brand Start -->
<div class="brand">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 mx-auto">
                <div class="b-logo">
                    <a href="index.html">
                        <img src="../assets/img/FF.png" alt="Logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand End -->

<!-- Nav Bar Start -->
<div class="nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a routerLink="/home" class="nav-item nav-link">Home</a>
                    <a routerLink="/news" class="nav-item nav-link">News</a>
                    <a routerLink="/humans" class="nav-item nav-link">Humans</a>
                    <a routerLink="/entertainment" class="nav-item nav-link">Entertainment</a>
                    <a routerLink="/health" class="nav-item nav-link">Health</a>
                    <a routerLink="/depp" class="nav-item nav-link">Depp & Heard</a>
                </div>
                <div class="social ml-auto">
                    <a href="https://www.instagram.com/ffdailynews/"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com/Feliperojas2601"><i class="fab fa-github"></i></a>
                    <a href="https://twitter.com/ffnews75101322"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->

<router-outlet></router-outlet>

<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <div class="footer-widget">
                    <h3 class="title">Get in Touch</h3>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>National university of Colombia</p>
                        <p><i class="fa fa-envelope"></i>jrojasce@unal.edu.co</p>
                        <a href="https://www.instagram.com/felipe.rojaas/"><i class="fab fa-instagram"></i></a>
                        <p><i class="fa fa-envelope"></i>slopezsa@unal.edu.co</p>
                        <a href="https://www.instagram.com/federicolopez07/"><i class="fab fa-instagram"></i></a>
                        <div class="social">
                            <a href="https://www.instagram.com/ffdailynews/"><i class="fab fa-instagram"></i></a>
                            <a href="https://github.com/Feliperojas2601"><i class="fab fa-github"></i></a>
                            <a href="https://twitter.com/ffnews75101322"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-8">
                <div class="footer-widget">
                    <h3 class="title">Useful Links</h3>
                    <ul>
                        <li><a href="https://unal.edu.co/">National university of Colombia</a></li>
                        <li><a href="http://diracad.bogota.unal.edu.co/explora">Explora UN mundo</a></li>
                        <li><a href="https://www.humansofnewyork.com/">Humans of New York</a></li>
                        <li><a href="https://htmlcodex.com">HTML Template</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; Felipe Rojas - Federico Lopez 2022. All Rights Reserved</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->