.word_red {
    color: red !important;
}

.fakeImage {
    width: 70%;
    height: 70%;
}

.sastoqueImage {
    width: 70%;
    height: 70%;
}

.minaImage {
    width: 70%;
    height: 70%;
}

.sugarImage {
    width: 70%;
    height: 70%;
}