<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="text-center">
                <h2>How do we recognize fake news?</h2>
                <hr/>
                <div class="trump mt-4 mb-4">
                    <img class="trumpImage" src="../../assets/img/trump.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mt-4">
                    <p>
                        To recognize a fake new it is important to follow these steps:
                    </p>
                    <ul>
                        <li>Consider the source: The Boston Globe is a famous and highly respected newspaper.</li>
                        <li>Read Beyond: Story seems to be real and supported.</li>
                        <li>Check the author: The Boston Globe is a famous and highly respected newspaper.</li>
                        <li>Supporting sources: No sources included, just a spokesman of the white house.</li>
                        <li>Check the date: Trump was elected in 2016, the date is after this.</li>
                        <li>Ask the experts: Consulting about this controversial front page, you will need more context about the situation to not be fooled by this fake news.</li>
                    </ul>
                    <p>
                        In 2016, the Boston Globe was recognized for their campaign against Donald Trump, they tweeted this front page with the following message “the front page we hope we never have to print.”
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <div class="fake mt-4">
                        <img class="fakeImage" src="../../assets/img/fake.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-4 mb-4">
                    <p>
                        Donald Trump’s deportation fake news would seem like a real one, this was a main topic in his presidential campaign, where he promised deportation of all the illegal people in the US. The author of this fake news is a famous and highly respected Newspaper
                        in the UK: The Boston Globe. Also, the story that they wrote seems to be supported by sources such as a public announcement on TV and statements from economists and journalists. Apparently, this news is not a joke since the date
                        of publication is consistent with his presidential period and you will need to research more in order to determine that this news is false and a joke. Consulting about this controversial front page, you will need more context about
                        the situation to not be fooled by this fake news. In 2016, the Boston Globe was recognized for their campaign against Donald Trump, they tweeted this front page with the following message “the front page we hope we never have to
                        print.” Thus, it is possible to see that the news is false, since a newspaper that opposes the former president of the United States would never create a news item that would benefit him. On the contrary, what it seeks is to damage
                        and discredit his public image, so that he loses popularity and people can see, through satire, the bad decisions and poor performance of Donald Trump as president.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4 text-center ">
                    <h2>Our fake news.</h2>
                    <hr/>
                </div>
                <div class="col-md-8 mb-4">
                    <p>
                        <span class="word_red">An affair at UNAL: </span>After four years of marriage, Julián Sastoque’s wife seems to seek divorce due to a possible affair between Sastoque and the controversial senator Jennifer Pedraza. Apparently, Sastoque
                        and Pedraza were seen last week kissing on the economics faculty of the Universidad Nacional de Colombia. One of our reporters took some pictures of the moment that we will share with you on our social media.
                    </p>
                </div>
                <div class="col-md-4 mb-4 text-center">
                    <div class="sastoque">
                        <img class="sastoqueImage" src="../../assets/img/sastoque.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mb-4">
                    <p>
                        <span class="word_red">El panita's misfortune: </span>It may appear that Yerry Mina, better known as “el panita”, was caught with some illegal substances in his body after a Premier League match. It is said that Mina was playing
                        unusually well, and that confidence and ability in the field alerted the United Kingdom Antidoping Department, who tested him, and he has reportedly failed. Everton Football Club has not made an official announcement yet, but they
                        are expected to do it in the next few hours.</p>
                </div>
                <div class="col-md-4 mb-4 text-center">
                    <div class="mina">
                        <img class="minaImage" src="../../assets/img/mina.jpeg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mb-4">
                    <p>
                        <span class="word_red">Sugar, the health benefits: </span>According to a recent investigation carried out by some of the best Pulzo’s scientists, sugar would seem to be considered as the best new vitamin supplement on the market.
                        Apparently, you should eat around five pounds of sugar per day, especially in the late night. Due to this, highly recognized brands such as “Tarrito Rojo" and “Emulsión de Scott" are thinking of including this supplement in their
                        products. </p>
                </div>
                <div class="col-md-4 mb-4 text-center">
                    <div class="sugar">
                        <img class="sugarImage" src="../../assets/img/sugar.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>