<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center mt-4">
            <h2>Balanced Diet Infographic</h2>
            <hr/>
            <div class="Infographic mt-4 mb-4">
                <img class="InfographicImage" src="../../assets/img/health.jpeg" alt="">
            </div>
            <div class="InfographicText mb-4">
                <p>
                    Over the last few years, the overweight has overcome a serious and very common health problem among people of all ages. Sometimes, it is caused by genetic factors that affect the metabolism, but, in most of the cases, it is due to
                    <span class="word_prefix"> bad eating habits </span>, a sedentary lifestyle, and an unbalanced diet. Certainly, it’s up to the people <span class="word_prefix"> to decide to </span> change their diet and their sports habits, but it’s
                    also a matter of information about how to take care of your health by eating the correct food, and how much to eat for each meal. Then, the purpose of this article is to let you know how you can improve your eating habits, based on
                    the infographic posted above.
                    <br/> First, as you can see on the picture, there should be a balance among the types of food that you eat along the day. Carbohydrates such as bread, cereals, and tubers have to be the main macronutrient <span class="word_prefix"> you must consider eating </span>                    in your daily meals, composing the 50% of your diet. That’s because they are the principal source of energy for your body to function well. Followed by this, we have that vegetables and fruits are the second type of food that you have
                    to eat in greater proportion, with 30% of your diet distribution. These ones help you due to all the minerals, vitamins and fiber that they have, which make your organism to be protected from viruses and diseases.
                    <br/> As for the foods with the lowest percentage, we have that fats and proteins like meat, cheese, milk, and chicken, should compose the 15% of your meals. In particular, proteins contribute to <span class="word_prefix"> your muscle wellbeing </span>,
                    and fats make vitamin absorption possible, <span class="word_prefix">as well as providing you </span> with essential fatty acids. Finally, fast food and ultra-processed food should constitute just 5% percent of your diet, because they
                    are bad for health as they have unsaturated fats, which are the ones that clog the arteries and make you suffer from heart diseases.
                    <br/> In conclusion, we know that eating habits is not a topic which <span class="word_prefix"> you would like being told </span> what to do with. But, we expect you to have learned that having a good diet is all about the balance
                    among the types of food that you eat during the day. Then, getting to know it and applying it is important for you to be healthy and <span class="word_prefix"> avoid suffering </span> when you get older.
                    <br/> Thank you, and keep connected with us for more tips about how to improve your health.
                </p>
            </div>
        </div>
    </div>
</div>